<div class="d-flex justify-content-center mb-2">
    <div class="card mt-2" style="width: 40rem;">
        <div class="card-header">
            Gestion Departamentos
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <form [formGroup]="frmRegistro" id="frmdatareg">
                            <div class="form-group">
                                <label for="nombre_dep">Nombre del Departamento</label>
                                <input formControlName="nombre_dep" type="text" class="form-control" id="nombre_dep" aria-describedby="nombre_dep">
                                <ng-container *ngFor="let validation of validationMessage.nombre_dep">
                                    <div *ngIf="frmRegistro.controls['nombre_dep'].hasError(validation.type) && (frmRegistro.controls['nombre_dep'].dirty || frmRegistro.controls['nombre_dep'].touched)">
                                        <small class="text-danger">{{validation.message}}</small>
                                    </div>
                                </ng-container>
                            </div>
                            <div class="form-group">
                                <label for="exampleDataList" class="form-label">Seleccione el Pais</label>
                                <select formControlName="paises" class="form-select" aria-label="Default select example">
                                    <option selected>Seleccione un Pais</option>
                                    <option value="{{item.id_pais}}" *ngFor="let item of misPaises">{{item.nombre_pais}}
                                    </option>
                                </select>
                                <ng-container *ngFor="let validation of validationMessage.paises">
                                    <div *ngIf="frmRegistro.controls['paises'].hasError(validation.type) && (frmRegistro.controls['paises'].dirty || frmRegistro.controls['paises'].touched)">
                                        <small class="text-danger">{{validation.message}}</small>
                                    </div>
                                </ng-container>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-3"><input id="newOp" class="btn btn-primary btn-block" type="button" (click)="nuevoReg()" value="Nuevo"></div>
                    <div class="col-3"><input id="saveOp" class="btn btn-success btn-block" type="button" (click)="onSubmitPais()" value="Guardar"></div>
                    <div class="col-3"><input id="editarOp" class="btn btn-warning btn-block" type="button" value="Editar"></div>
                    <div class="col-3"><input id="cancelOp" class="btn btn-secondary btn-block" type="button" value="Cancelar"></div>
                </div>
                <div class="row mt-1 mb-1">
                    <div class="col-12">
                        <!-- Alertas edicion -->
                        <div class="alert alert-success" role="alert" *ngIf="estadoProcesoEditar==0">
                            El registro se actualizo correctamente en la base de datos
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="estadoProcesoEditar>0">
                            Ocurrio un error al momento de editar el registro..Contacte a soporte.
                        </div>
                        <!-- Alertas Guardar -->
                        <div class="alert alert-success" role="alert" *ngIf="estadoProceso==0">
                            El registro se creo correctamente en la base de datos
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="estadoProceso>0">
                            Ocurrio un error al momento de guardar el registro..Contacte a soporte.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>